<h3>{{viewTitle}}</h3>

<form action="/login" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{employee._id}}">
    <div class="form-group">
        <label>Username</label>
        <input id="input1" type="text" class="form-control" name="userName" placeholder="User Name" value="{{employee.typeEquipment}}">
        <div class="text-danger">
            {{employee.typeEquipmentError}}</div>
    </div>
    <div class="form-group">
        <label>PassWord</label>
        <input type="text" class="form-control" name="passWord" placeholder="PassWord" value="{{employee.nameDevice}}">
        <div class="text-danger">
            {{employee.nameDeviceError}}</div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info">Login</button>
        <a class="btn btn-secondary" href="/employee/list">Logout</a>
    </div>
</form>